@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4F6EE; /* متوافق مع لون store.light الجديد */
  color: #38324E;          /* متوافق مع لون store.dark الجديد */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

@keyframes logoMarquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes infiniteScroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-logo-marquee {
  display: flex;
  width: max-content;
  animation: logoMarquee 35s linear infinite;
}

.animate-logo-marquee:hover {
  animation-play-state: paused;
}

.animate-infinite-scroll {
  display: flex;
  width: max-content;
  animation: infiniteScroll 30s linear infinite;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
}